#logo {
    width: 20%;
  }
  
  header {
   background: #2e2e2e; 
   padding: 20px;
  }
  
  .caixa {
      position: relative;
      width: 940px;
      margin: 0 auto;
  }
  
  figcaption {
    position: absolute;
    top: 150px;
    margin-left: 60px;
    color: #FFFFFF;
    font-size: 10px;
  }
  nav {
      position: absolute;
      top: 60px;
      right: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }
  
  nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #C78C19;
    text-decoration: underline;
  }
  
  main {
    width: 940px;
    margin: 0 auto;
  }
  
  form{
    margin: 40px 0;
  }
  
  form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  .input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%
  }
  
  fieldset {
    margin: 30px 0;
  }
  
  .checkbox {
    margin: 20px 0;
  }
  
  .enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius:5px;
    transition: 1s all;
  }
  
  .enviar:hover {
    background: darkorange;
    transform: scale(1.1);
    cursor: pointer;
    
  }
  
  table{
    margin: 20px 0 40px;
    
  }
  
  thead {
    background: #555555;
    color: white;
    font-weight: bold; 
  }
  
  td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
  }
  
  footer {
    text-align: center;
    background: #2E2E2E;
    padding: 40px 0;
  }
  
  .rodape {
    color: #FFFFFF;
    font-size: 40px;
    font-style: italic;
  }
  
  .copy {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 25px;
  }