body {
  font-family: 'Montserrat', sans-serif;
}

#logo {
  width: 20%;
}

header {
 background: #2e2e2e; 
 padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

figcaption {
  position: absolute;
  top: 150px;
  margin-left: 60px;
  color: #FFFFFF;
  font-size: 10px;
}

h1 {
  padding-left: 100px;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
 
} 

nav {
    position: absolute;
    top: 120px;
    right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

.imagem {
  width: 100%;
  height: 800px;
}

.divisao1 {
    padding: 3em 0;
    background: #d3d3d3;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.conteudo-divisao1{
  width: 940px;
  margin: 0 auto;
}

.divisao1 p {
  margin: 0 0 1em;
  margin-left: 80px;
}

.divisao1 strong {
  font-weight: bold;
}

.divisao1 em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#d3d3d3,#888888);
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.divisao2 {
  padding: 3em 0;
  background: linear-gradient(#888888,#696969);
  
}
.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista1 {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:first-child {
   font-weight: bold;
}

.itens:before {
  content: "★";
}

.imagem2 {
  width: 50%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px #000000;
}

.imagem2:hover {
  opacity: 0.3;
}

footer {
  text-align: center;
  background: #2E2E2E;
  padding: 40px 0;
}

.rodape {
  color: #FFFFFF;
  font-size: 40px;
  font-style: italic;
}

.copy {
  color: #FFFFFF;
  font-size: 13px;
  margin-top: 25px;
}

.video {
  width: 560px;
  margin: 2em auto;
}

@media screen and (max-width: 480px) {
  .caixa, .conteudo-divisao1, .mapa-conteudo, .conteudo-beneficios, .video {
    width: auto;
    }
      
    figcaption {
      opacity: 0;
    }

  .imagem {
    width: 480;
    height: auto;
  }

   h1 {
     text-align: center;
   } 
   
   nav {
     position: static;
   }

   nav a {
        font-size: 16px;
   }
   .lista1, .imagem2 {
     width: 100%;
   }
     
}
